.idea/
.lab8_partial.py
.submission.csv
.test.csv
.test.py
test.py
*.csv
lab8_partial.py
.better_ct_scan.py
.CNN_CTSCAN.py
custom.py
.sample_submission.txt
.test_gpu.py
.Working_CT_CNN.py
better_ct_cnn.py
CNN_CTSCAN.py
ctscan_CNN.py
test_gpu.py
Working_CT_CNN.py
